.container-fluid.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner {
    height: 50%;
    position: relative;
}

.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 40%;
    transform: translateY(-50%);
    opacity: 0.9;
    position: absolute;
}

.carousel-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

.carousel-arrow svg {
    display: block;
}

.carousel-control-prev:hover .carousel-arrow,
.carousel-control-next:hover .carousel-arrow {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 8%;
    }

    .carousel-arrow {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }

    .carousel-arrow {
        width: 35px;
        height: 35px;
    }
}
