
.onas-wrapper {
  flex: 1;
}

.footer {
  background: #444;
  color: #ddd;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  border-top: 2px solid #333;

  strong {
    color: #fff;
  }

  .footer-content {
    p {
      margin: 5px 0;
    }
}}